 .navbar{
	opacity: 0.9;
	 color: white;
}
.navbar a{
	text-decoration: none;
}
/*
.nav-container {
	height: 8vh;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	align-item: center;
	background-color: rgba(0,100,255,0.7);
}
.nav-items {
	flex-basis: 80%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	align-item: center;
}
.nav-item, .nav-title, .nav-git {
	margin: auto ;
}
.nav-link {
	color: white;
	text-decoration: none;
}
.nav-link:hover {
	color: black;
} */