
.corona, .preventions {
	width: 40%;
	min-width:350px;
	margin: 1rem;
	padding: 5px 5px;
	 /* font-family: 'Roboto', sans-serif; */
	/* font-family: 'Open Sans', sans-serif;  */
	
	background-color: rgba(255,255,255,0.1);
	border-radius: 1rem;
	box-shadow: 2px 5px 8px 2px;
}
.symptoms, .treatment {
	padding: 5px 5px;
	margin: 1rem;
	margin-left:auto;
	width: 50%;
	min-width: 350px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 1rem;
	box-shadow: 2px 5px 8px 2px;
}
.medical-treatment {
	width: 100%;
	border-radius: 0.3rem;
	text-align: center;
	background-color: teal;
}
.homepage-container{
	padding: 50px 5px 0 0;
	margin: 0 1rem;
	min-width: 350px;
}

h2 {
	font-family: 'Noto Serif', serif;
	font-style: italic;
}
h3, h4 {
	font-family: 'Open Sans', sans-serif; 
}
p, li {
	font-family: 'Roboto', sans-serif;
}