.homepage {
	background-color: #f1f1f1;
	margin-top: 40px;
}
.homepage-container {
	
}
.homepage-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-item: center;
}
.homepage-body img{
	height: 200px;
}
.card {
	width: 30%;
	min-width: 350px;
}
.current-data {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.homepage-container{
	margin: 1rem;
}
h1 {
	font-family: 'Noto Serif', serif;
	font-style: italic;
}

/* h2, h1 {
	
}
h3, h4 {
	font-family: 'Open Sans', sans-serif; 
}
 li {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
} */