.homepage {
	background-color: #f1f1f1;
}
.homepage-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.homepage-body img{
	height: 200px;
}
.content {
	width: 30%;
	min-width: 360px;
	min-height: 700px;
	/* border-radius: 1rem; */
	overflow: auto;
}
.current-data {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.homepage-container{
	margin: 1rem;
}
h1 {
	font-family: 'Noto Serif', serif;
	font-style: italic;
}



h3, h4 {
	font-style: italic;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 900;
	
}
 li {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
} 